<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDd1elSCN5wpMde3fi-msLUqeUdgQvaL8A</string>
	<key>GCM_SENDER_ID</key>
	<string>1023911855679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.saTransportesMobile</string>
	<key>PROJECT_ID</key>
	<string>pushteste-b690a</string>
	<key>STORAGE_BUCKET</key>
	<string>pushteste-b690a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023911855679:ios:ff3cf894aa8ef684381a8a</string>
</dict>
</plist>